@charset "utf-8";
/* CSS Document */

/*  =========================================================
Stylesheet zur Formatierung am Bildschirm
Datei: bildschirm.css
Datum: 2007-10-27 
Autor: Peter Müller 
========================================================== */

@media all { 

/* ======================================
   1. Allgemeine Styles
   ====================================== */
p {
margin:0px; padding:0px;
}
.ptext {margin:0px; padding:0px; font-size: 11pt; line-height:1.5em;}
body {
   	background-color: #676767;
	color:#000000;
	font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif;
	font-size: 8pt;
}	
h1 {
	font-family: serif;
	font-weight: normal;
}	

h1 { font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif; font-size:18pt; font-weight:normal; padding:0; margin-bottom:10px; margin-top:30px; color:#006ab3; line-height: 1.2em;}
h2 { font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif; font-size:15pt; font-weight:normal; padding:0; margin-bottom:10px; margin-top:30px; }
h3 { font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif; font-size:11pt; font-weight:strong; margin-bottom:0px; margin-top:0px; color:#00458d;}
h4 { font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif; font-size:11pt; font-weight:normal; margin-bottom:5px; margin-top:30px; color:#676767;}
h5 { font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif; font-size:18pt; font-weight:normal; padding:0; margin-bottom:0px; margin-top:0px; color:#006ab3; line-height: 0.5em;}


.texttablesmall {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:8px;
	padding-right:6px;
	line-height: 1.1em;}


/* Hyperlinks */

a.white{color: white;}

a.grau { text-decoration: underline; outline: none; color: #363636; }
a.grau:visited { text-decoration: underline; color: #363636;}
a.grau:hover { text-decoration: underline; color: #ff6600; }
a.grau:focus { text-decoration: underline; color: #363636; }

a.kundenlogin { text-decoration: none; outline: none; color:#111111; font-weight:normal; }
a.kundenlogin:visited { text-decoration: none; outline: none; color:#111111;  font-weight:normal;}
a.kundenlogin:hover { text-decoration: none; outline: none; color:#676767;  font-weight:normal;}
a.kundenlogin:focus { text-decoration: none; outline: none; color:#676767;  font-weight:normal;}

a.table { text-decoration: none; outline: none; color:#FFFFFF; font-weight:normal; }
a.table:visited { text-decoration: none; outline: none; color:#FFFFFF;  font-weight:normal;}
a.table:hover { text-decoration: none; outline: none; color:#676767;  font-weight:normal;}
a.table:focus { text-decoration: none; outline: none; color:#676767;  font-weight:normal;}

a.mehr { text-decoration: none; outline: none; color:#006ab3; font-weight:normal; }
a.mehr:visited { text-decoration: none; outline: none; color:#006ab3;  font-weight:normal;}
a.mehr:hover { text-decoration: none; outline: none; color:#00458d;  font-weight:normal;}
a.mehr:focus { text-decoration: none; outline: none; color:#00458d;  font-weight:normal;}

a.blau { text-decoration: none; outline: none; color: #000000; }
a.blau:visited { color: #000000;}
a.blau:hover { color: #676767; }
a.blau:focus { color: #676767; }

a.ohne { text-decoration: none; outline: none; color:#000000; }
a.ohne:link { text-decoration: none; outline: none; color:#000000; }
a.ohne:visited { text-decoration: none; outline: none; color:#000000; }
a.ohne:hover, a:focus {text-decoration: none; outline: none; color:#000000; }

a.white{color: white;}

a.grau { text-decoration: underline; outline: none; color: #363636; }
a.grau:visited { text-decoration: underline; color: #363636;}
a.grau:hover { text-decoration: underline; color: #ff6600; }
a.grau:focus { text-decoration: underline; color: #363636; }

/*nur für Direkteinstieg*/

.imagelink { border: 1px solid #676767; margin:10px; }
.imagelink:hover, imagelink:focus { border: 1px solid #ff9900; margin:10px; }

/* ==================================== 
   2. Styles für die  Layoutbereiche 
   ==================================== */
#aussenherum {
	margin-top:12px;
	background-color: #FFFFFF;
	width:974px;
	height:100%;
	position:relative; margin-right:auto; margin-left:auto; margin-top: 0px;
	border-left: 0px solid #333333;
	border-right: 0px solid #333333;
	padding:1px;
}

/*Definitionen für Kundenlogin*/


#kundenlogin1 {
	padding: 0;
	margin: 0;
	float:left;
	width: 460px;
	height: 30px;
	padding-top:10px;
	padding-left: 15px;
	text-align:left;  
	background-color:#f1f1f3;
	border-bottom: 1px solid #006ab3;
}
#kundenlogin2 {
	padding: 0;
	margin: 0;
	float:left;
	width: 499px;
	height: 30px;
	padding-top:5px;
	padding-bottom: 5px;
	vertical-align: bottom;
	text-align:right;  
	background-color:#f1f1f3;
	border-bottom: 1px solid #006ab3;
}
.kundenlogin {
    font-family: Arial;
    font-size: 12px;    
    font-style: normal;  
    color:#ffffff; 
}

.formtextfield {
  border: 1px solid #676767;
  background-color:#FFFFff;
  padding-left:.5em;
  margin-botton: 4px;
  margin-top: 4px;
  margin-right:8px;
  color:#333333;
  font-size:1.0em;
  height:22px;
  max-width: 80px;
}

.geraetevergleich {
	width:100%;
	vertical-align:top;
	border:0px;
	font-family: Arial;
    font-size: 6 px;    
    font-style: normal;  
    color:#ffffff;
}

.darktd {
	background-color:#015e26;
	padding:7px;
	font-family: Arial;
    font-size: 9 px;    
    font-style: normal;  
    color:#ffffff;
}

.brighttd {
	background-color:#007c31;
	padding:7px;
	font-family: Arial;
    font-size: 9 px;    
    font-style: normal;  
    color:#ffffff;
}

a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #ffffff;
    /*display: block;*/
    float: right;
    font: normal 12px arial, sans-serif;
    height: 24px;
	margin-top:4px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 


/*-----------------------------------------------------------------------*/


#toplinks{
	margin-top:4px;
	padding-left:11px;
	padding-right:11px;
	width: 952px;
	height: 8px;
	text-align:right;
	vertical-align:middle;
}

#logobereich {
	margin-top:12px;
	padding-left:11px;
	padding-right:11px;
	width: 952px;
	height: 94px;
	background-color:#FFFF00;
}

#logobereich_index {
	float: left;
	background-image:url(../images/igllogo_header_frei.png);
	margin-left: 20px;
	background-repeat: no-repeat;
	width: 974px;
	height: 117px;
	
}

#logobereich img {
	width: 330px;
	height: 60px;
	border:0px;
	}


#navigation {
	width: 952px;
	float:left;	
	padding: 10px;
	margin-top:0px;
	background-color: #ffffff;
}

#textbereich_wrapper { 
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px; 
	width:974px;
	margin-top:0px;
	float:left;
	background-color: #FFFFFF;
}
  
#index_slideshow {
	padding-bottom: 3px;
	margin-left:11px;
	margin-bottom:41px;
	padding-left: px;
	width:952px;
	background-color:#FFFFFF;
	height:287px;
	clear:both;
    border-bottom: 1px solid #4b4b4d;

}

#headgrafik {
	padding: 0px;
	margin: 0px;
	width:728px;
	background-color: #ffffff;
	height:120px;
	clear:both;
	border: 1px solid #333333;
}

#textbereich {
	width:542px;
	background-color:#FFFFFF;
	float:left;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:50px;
	margin-right:101px;
	line-height: 1.5em;
	font-size: 11pt;
}

#textbereichindex {
	width:749px;
	background-color:#FFFFFF;
	float:left;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:50px;
	margin-right:20px;
	line-height: 1.5em;
	font-size: 11pt;
}

#startseitehaupt {
	width:;
	
	

}

#startseitelinks {
	width:50%px;
	visibility:visible;
	float:left;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:20px;
	
}

#startseiterechts {

	width:50%px;
	visibility:visible;
	float:right;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:20px;
	
}

#startseiteklein {
	width:345px;
	clear:both;
	visibility:visible;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:16px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	color:#000000;
	line-height: 1.2em;
	font-size: 10pt;
	font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif;
	

}

.portaltext {
	float:left;
}

.portalbilder {
padding-top: 3px;
}

.tablesupervisioncontent {
background-color: #006ab3;
padding: 10px 10px 20px 20px;
color:#ffffff;
}

.tablesupervisionrightpartdarkbluebar{
background-color: #00528b;
padding: 10px 10px 20px 20px;
color:#ffffff;
}


#templatezweitextbereich  {
	width:542px;
	background-color:#FFFFFF;
	float:left;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:101px;
	margin-right:50px;
	line-height: 1.5em;
	font-size: 11pt;
}

#direktzumthema2 {
text-align:right;


}

#textbereich_breit {
	width:700px;
	background-color:#0000FF;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:30px;
	
}

/*------------------------------------------------------*/
/*--NEWS------------------------------------------------*/
/*------------------------------------------------------*/

.newsheader {font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	line-height: 1.1em;
	color:#000000;
	font-style:oblique;}
	
.newstext {font-family: Verdana, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.5em;
	color:#000000;
	font-style:normal;}



/*------------------------------------------------------*/
/*--DIREKTEINSTIEG--------------------------------------*/
/*------------------------------------------------------*/

#navlist li
{
list-style: none;

}

#direkteinstieg { 
	padding: 0px; 
	background-color:#FFFFFF;
	font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif;
	width:250px;
	float:left;
	margin-top:25px;
	margin-right:30px;
	font-size:11pt;
	line-height:1.3em;
	border: 0px solid #DDDDDD;
}

#direkteinstiegindex { 
	padding: 0px; 
	background-color:#FFFFFF;
	font-family: Myriad, "Myriad Pro", Verdana, Arial, sans-serif;
	width:250px;
	float:left;
	margin-top:0px;
	margin-right:30px;
	line-height: 1.2em;
	font-size: 10pt;
	border: 0px solid #DDDDDD;
}


/*------------------------------------------------------*/


address {
   text-align: center; 
   font-family: Verdana, Arial, sans-serif;
   margin-top:100px;    
   font-style: normal;  
   letter-spacing: 0.03em;
   color:#333333; 
}

#fussbereich{
	padding: 5px;
	margin-top:70px;
	
	background-color:#FFFFFF;
		
	clear: both;
}

.nomargin {margin:0px; padding:0px;}

/* ==================================== 
   3. Sonstige Styles 
   ==================================== */

/* Das Kontaktformular */
form {
   background-color: none;
   width: 200px; /* Breite des Formulars */ 
   padding-right: 20px;
   border: none;
}
/* Beschriftung auf eigener Zeile */
label { 
   display: block; 
   cursor: pointer; 
} 
input#absender, 
textarea { 
   width: 300px;
   border: 1px solid #8c8c8c;
   margin-bottom: 1em;
}
textarea { 
   height: 7em; 
}
input#absender:focus, 
textarea:focus {
   background-color: #d9d9d9; 
}

.cell {
padding: 10px 10px 20px 20px;
}

#belogin {

margin: 20px;
float:right;
font-size: 20px;
	
}

.imagemargin {margin:10px;}

.bildtext_sidebar {
	font-size: 12px;
	background-color: #2f4050;
	color: #ffffff;
	padding: 15px;
	float: left;
}

#direkteinstieg img {
	width: 100%;
}
.languagechange{	
	font-size:10px;
}

} /* Ende @media - nicht löschen! */ 


